body{
    font-family: 'Segoe UI', sans-serif;
}
.dice-img{
    animation: roll 0.6s ease;
}
.score{
    font-size: 1.2rem;
    font-weight: bold;
    color:#0d6efd
}
@keyframes roll{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(360deg) scale(1.2);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}

@media (max-width: 576px) {
  .dice {
     height: 80px;
    width:80px  ;    /* reduce image height */
    margin-right: 6px;   /* reduce spacing */
  }

  h1 {
    font-size: 1.5rem;   /* reduce heading size */
  }
}